@model Bank.Models.Client

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="nom_client" class="control-label"></label>
                <input asp-for="nom_client" class="form-control" />
                <span asp-validation-for="nom_client" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prenom_client" class="control-label"></label>
                <input asp-for="prenom_client" class="form-control" />
                <span asp-validation-for="prenom_client" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_naissance" class="control-label"></label>
                <input asp-for="date_naissance" class="form-control" />
                <span asp-validation-for="date_naissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adresse" class="control-label"></label>
                <input asp-for="adresse" class="form-control" />
                <span asp-validation-for="adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telephone" class="control-label"></label>
                <input asp-for="telephone" class="form-control" />
                <span asp-validation-for="telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
